<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la Receta</title>
    <link rel="stylesheet" type="text/css" href="body-styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <a href="/home">Inicio</a>
            <a href="/recetas">Recetas</a>
            <a th:if="${authenticated}" href="/nueva-receta">Agregar Receta</a>
        </div>
        <a th:if="${authenticated}" href="/logout" class="login-button-menu">Cerrar sesión</a>
        <a th:if="${!authenticated}" href="/login" class="login-button-menu">Ingresar</a>
    </nav>

    <div class="card-container">
        <div class="card img">
            <img th:src="@{${receta.url_imagen}}" th:alt="${receta.nombre}">
            <div class="card-content">
                <h3 th:text="${receta.nombre}">Nombre de la receta</h3>
                <p th:text="${receta.descripcion}">Descripción</p>
                <h4>Ingredientes:</h4>
                <ul>
                    <li th:each="ingrediente : ${receta.ingredientesList}" th:text="${ingrediente}">Ingrediente</li>
                </ul>
                <h4>Paso a Paso:</h4>
                <ol>
                    <li th:each="paso : ${receta.instruccionesList}" th:text="${paso}">Paso</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
