<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la Receta</title>
    <!-- Ruta absoluta para el CSS usando Thymeleaf -->
    <link rel="stylesheet" type="text/css" th:href="@{/body-styles.css}">
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <!-- Rutas absolutas para los enlaces del menú -->
            <a th:href="@{/home}">Inicio</a>
            <a th:href="@{/recetas}">Recetas</a>
            <a th:if="${authenticated}" th:href="@{/nueva-receta}">Agregar Receta</a>
        </div>
        <a th:if="${authenticated}" th:href="@{/logout}" class="login-button-menu">Cerrar sesión</a>
        <a th:if="${!authenticated}" th:href="@{/login}" class="login-button-menu">Ingresar</a>
    </nav>

    <div class="card-container">
        <div class="card img">
            <!-- Ruta absoluta para la imagen -->
            <img th:src="@{'/' + ${receta.url_imagen}}" th:alt="${receta.nombre}">
            <div class="card-content">
                <h3 th:text="${receta.nombre}">Nombre de la receta</h3>
                <p th:text="${receta.descripcion}">Descripción</p>
                <h4>Ingredientes:</h4>
                <ul>
                    <li th:each="ingrediente : ${receta.ingredientesList}" th:text="${ingrediente}">Ingrediente</li>
                </ul>
                <h4>Paso a Paso:</h4>
                <ol>
                    <li th:each="paso : ${receta.instruccionesList}" th:text="${paso}">Paso</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>
